.modal
  position: fixed
  top: 0px
  right: 0px
  bottom: 0px
  left: 0px
  display: none
  margin: auto
  background-color: $white

.show-modal
  display: flex
  animation: bounce 0.6s;

.modal__close-modal
  position: absolute
  top: 25.5px
  right: 14.7px
  width: 30px
  height: 30px
  border: none
  padding: 0px
  background: none
  &:before,
  &:after
    content: ""
    position: absolute
    top: 15px
    left: -1px
    width: 32px
    height: 1px
    background-color: rgba($dark-color, 0.2)
    border-radius: 5px
    cursor: pointer

  &:before
    transform: rotate(45deg)

  &:after
    transform: rotate(-45deg)

@keyframes bounce
  0%
    transform: translateY(-2000px)


  70%
    transform: translateY(30px)


  90%
    transform: translateY(-10px)


  100%
    transform: translateY(0)


