.page-header__wrapper
  display: flex
  justify-content: space-between
  min-height: 63px
  padding-top: 36px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    width: 100vw
    margin: 0px
    padding: 0px
    padding-top: 50px

.page-header__logo
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    position: absolute
    top: 18.5px
    left: 21px
    width: 44px
    height: 17px
