.tours
  position: relative
  &:before
    content: ""
    position: absolute
    top: 0px
    height: 189px
    width: 1px
    background-color: $light-grey

  &:before
    left: 400px

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only)
    &:before
     height: 177px

.tours__header
  @include footerHeaders()

.tours__list
  display: grid
  grid-template-columns: 80px 74px 96px
  gap: 10px 50px
  margin: 0px
  padding: 0px
  list-style: none
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only)
    grid-template-columns: repeat(3, 95px)
    column-gap: 30px


.tours__item
  @include fstyle(14px, 17px, rgba($dark-color, 0.5))
