.tour-countries
  position: relative
  margin-bottom: 240px
  &:before
    content: ""
    position: absolute
    top: 39px
    height: 1px
    width: 899px
    background-color: rgba($very-dark-black, 0.3)
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    margin-bottom: 112px
  @media (max-width: $mobile-width-only)
    margin-bottom: 111px
    &:before
      width: 305px

.tour-countries__list-wrapper
  width: 902px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    width: 727px
    overflow: hidden
  @media (max-width: $mobile-width-only)
    width: 265px
    overflow: hidden

.tour-countries__choose-list
  position: relative
  display: flex
  min-height: 39px
  margin: 0px
  padding: 0px
  margin-left: 0px
  margin-bottom: 95px
  list-style: none
  transition: margin-left 1s
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    margin-bottom: 48px
    &:before
      content: ""
      position: absolute
      top: 0px
      left: -150px
      width: 150px
      height: 39px
      background-color: $white
      z-index: 1
  @media (min-width: $mobile-width) and (max-width: $desktop-width)
    margin-bottom: 39px

.tour-countries__item
  margin-right: 99px
  @include fstyle(20px, 24px, rgba($very-dark-black, 0.3), 500)
  letter-spacing: -0.4px
  cursor: pointer
  &:last-child
    margin-right: 0px

.tour-countries__item--selected
  color: $red

.tour-countries__country-card
  display: none
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    flex-direction: column

.tour-countries__country-card--enabled
  display: flex
  @media (max-width: $mobile-width-only)
    flex-wrap: wrap

.tour-countries__about-country-wrapper
  margin-right: 45px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 0px
    margin-bottom: 30px
  @media (max-width: $mobile-width-only)
    margin-right: 0px
    margin-bottom: 50px
    margin-left: 4px

.tour-countries__header
  height: 79px
  width: 425px
  margin-bottom: 53px
  letter-spacing: -1.25px
  &:before
    top: 99px
    height: 2.9px
    width: 175px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    height: 45px
    width: 129px
    margin-bottom: 20px
  @media (max-width: $mobile-width-only)
    height: 36px
    width: 288px
    margin-bottom: 20px


.tour-countries__about-country-annotation
  height: 308px
  width: 386px
  margin: 0px
  margin-bottom: 50px
  @include fstyle(16px, 28px, rgba($very-dark-black, 0.7))
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    height: 168px
    width: 736px
    margin-bottom: 20px
    text-align: center
    letter-spacing: -0.47px
  @media (max-width: $mobile-width-only)
    height: 392px
    width: 288px
    margin-bottom: 20px
    text-align: center
    letter-spacing: -0.47px

.tour-countries__buy-button
  min-height: 75px
  width: 250px
  padding: 0px
  @include fstyle(12px, 14.6px, $white, 700, uppercase)
  letter-spacing: 2px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    min-height: 50px
    @include fstyle(10px, 12.1px, $white, 500, uppercase)
  @media (max-width: $mobile-width-only)
    min-height: 50px
    width: 288px

.tour-countries__review-wrapper
  position: relative
  min-height: 596px
  width: 430px
  background-image: url(".././img/first-review-desktop.jpg")
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    min-height: 415px
    width: 768px
    margin-left: -21px
    background-image: url(".././img/first-review-tablet.jpg")
  @media (max-width: $mobile-width-only)
    min-height: 415px
    width: 320px
    margin-left: -11px
    margin-right: -11px
    background-image: url(".././img/first-review-mobile.jpg")

.tour-countries__review-card
  position: absolute
  top: 114px
  left: 318px
  width: 382px
  background-color: $white
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    bottom: -31px
    left: 193px
  @media (max-width: $mobile-width-only)
    top: 50px
    bottom: -65px
    left: 26px
    width: 268px

.tour-countries__review-header
  position: relative
  height: 38px
  width: 289px
  margin-top: 30px
  margin-left: 30px
  margin-bottom: 32px
  @include fstyle(30px, 36.5px, $very-dark-black, 500)
  letter-spacing: -0.6px
  &:before
    top: 48px
    width: 68px
    height: 0.6px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    text-align: left
    &:before
      display: block
  @media (max-width: $mobile-width-only)
    height: 27px
    width: 228px
    margin-left: 20px
    margin-bottom: 31px
    @include fstyle(20px, 24.3px, $very-dark-black, 500)
    text-align: center
    &:before
      left: 82px
      display: block


.tour-countries__review-text
  height: 164px
  width: 322px
  margin: 0px
  margin-left: 30px
  margin-bottom: 35px
  @include fstyle(14px, 28px, rgba($very-dark-black, 0.7))
  letter-spacing: -0.4px
  @media (max-width: $mobile-width-only)
    height: 221px
    width: 228px
    text-align: center
    margin-bottom: 68px
    margin-left: 20px

.tour-countries__review-author
  position: relative
  height: 20px
  width: 151px
  margin-left: 84px
  margin-bottom: 39px
  @include fstyle(16px, 19.5px, $very-dark-black, 500)
  letter-spacing: -0.4px
  &:before
    content: ""
    position: absolute
    top: -8px
    left: -53px
    height: 38px
    width: 37px
    background-image: url(".././img/first-review-avatar.png")
    border-radius: 50%
  @media (max-width: $mobile-width-only)
    margin-top: 0px
    margin-left: 73px
    margin-bottom: 34px
    &:before
      top: -48px
      left: 45.5px

.tour-countries__review-text--albania
  height: 108px
  @media (max-width: $mobile-width-only)
    height: 138px

.tour-countries__about-country-annotation--albania
  height: 227px
  width: 378px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    height: 110px
  @media (max-width: $mobile-width-only)
    height: 305px

.tour-countries__review-card--albania,
.tour-countries__review-card--montenegro,
.tour-countries__review-card--croatia
  left: 322px

.tour-countries__review-card--albania
  top: 142px

.tour-countries__review-author--albania
  &:before
    background-image: url(".././img/second-review-avatar.png")
  @media (max-width: $mobile-width-only)
    width: 83px
    margin-left: 92.5px
    &:before
      left: 20.5px

.tour-countries__review-wrapper--albania
  background-image: url(".././img/second-review-desktop.jpg")
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    background-image: url(".././img/second-review-tablet.jpg")
  @media (max-width: $mobile-width-only)
    background-image: url(".././img/second-review-mobile.jpg")

.tour-countries__about-country-annotation--montenegro
  height: 169px
  width: 372px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    height: 80px
  @media (max-width: $mobile-width-only)
    height: 192px

.tour-countries__review-card--montenegro
  top: 156px

.tour-countries__review-text--montenegro
  height: 80px
  @media (max-width: $mobile-width-only)
    height: 110px

.tour-countries__review-author--montenegro
  &:before
    background-image: url(".././img/third-review-avatar.png")

.tour-countries__review-wrapper--montenegro
  background-image: url(".././img/third-review-desktop.jpg")
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    background-image: url(".././img/third-review-tablet.jpg")
  @media (max-width: $mobile-width-only)
    background-image: url(".././img/third-review-mobile.jpg")

.tour-countries__about-country-annotation--macedonia
  height: 227px
  width: 385px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    height: 110px
  @media (max-width: $mobile-width-only)
    height: 277px

.tour-countries__review-card--macedonia
  top: 115px
  left: 301px

.tour-countries__review-text--macedonia
  height: 159.7px
  @media (max-width: $mobile-width-only)
    height: 221px

.tour-countries__review-author--macedonia
  &:before
    background-image: url(".././img/fourth-review-avatar.png")
  @media (max-width: $mobile-width-only)
    margin-left: 62px


.tour-countries__review-wrapper--macedonia
  background-image: url(".././img/fourth-review-desktop.jpg")
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    background-image: url(".././img/fourth-review-tablet.jpg")
  @media (max-width: $mobile-width-only)
    background-image: url(".././img/fourth-review-mobile.jpg")

.tour-countries__about-country-annotation--croatia
  height: 224px
  width: 380px
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    height: 110px
  @media (max-width: $mobile-width-only)
    height: 276px

.tour-countries__review-card--croatia
  top: 115px

.tour-countries__review-text--croatia
  height: 159.7px
  @media (max-width: $mobile-width-only)
    height: 221px

.tour-countries__review-author--croatia
  &:before
    background-image: url(".././img/fifth-review-avatar.png")
  @media (max-width: $mobile-width-only)
    margin-left: 63px

.tour-countries__review-wrapper--croatia
  background-image: url(".././img/fifth-review-desktop.jpg")
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    background-image: url(".././img/fifth-review-tablet.jpg")
  @media (max-width: $mobile-width-only)
    background-image: url(".././img/fifth-review-mobile.jpg")

.tour-countries__about-country-annotation--albania,
.tour-countries__about-country-annotation--montenegro,
.tour-countries__about-country-annotation--macedonia,
.tour-countries__about-country-annotation--croatia
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    width: 759px
  @media (max-width: $mobile-width-only)
    width: 288px

.tour-countries__review-card--albania,
.tour-countries__review-card--montenegro,
.tour-countries__review-card--macedonia,
.tour-countries__review-card--croatia
  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    top: 80px
    left: 193px
  @media (max-width: $mobile-width-only)
    top: 50px
    left: 26px
