/*Colors*/
$dark-color: #141517
$close-button-color: rgba(20, 21, 23, 0.2)
$menu-buttons-color: #DADADA

$mobile-width: 320px
$tablet-width: 768px
$desktop-width: 1930px
$mobile-width-only: 767px
$tablet-width-only: 1929px
